In [4]:
import joblib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
n_task_per_file = 50
n_files = 10
base_dir = "toy_eg_stage1_"
files_list = []
for i in range(n_files):
    dir = base_dir + str(i*n_task_per_file) + "_"  + str((i+1)*n_task_per_file) + ".pkl"
    files_list.append(dir)

In [6]:
coverage_df = pd.DataFrame()
length_df = pd.DataFrame()
MSE_df = pd.DataFrame()

for f_dir in files_list:
    coverage_i, length_i, MSE_i = joblib.load(f_dir)
    coverage_df = pd.concat([coverage_df, pd.DataFrame(coverage_i)])
    length_df = pd.concat([length_df, pd.DataFrame(length_i)])
    MSE_df = pd.concat([MSE_df, pd.DataFrame(MSE_i)])

In [7]:
coverage_df

    1.0       2.5       5.0      10.0  Tree val     Naive
0   1.0  1.000000  1.000000  1.000000  0.714286  0.714286
1   1.0  0.833333  1.000000  1.000000  1.000000  0.500000
2   0.5  1.000000  1.000000  1.000000  1.000000  0.666667
3   1.0  0.666667  0.666667  1.000000  1.000000  0.666667
4   1.0  1.000000  1.000000  1.000000  1.000000  0.500000
..  ...       ...       ...       ...       ...       ...
45  1.0  0.833333  0.833333  0.666667  1.000000  0.714286
46  1.0  1.000000  0.833333  0.500000  0.500000  0.666667
47  1.0  1.000000  0.833333  1.000000  1.000000  0.500000
48  1.0  0.833333  1.000000  0.833333  1.000000  0.666667
49  1.0  0.833333  1.000000  1.000000  1.000000  0.400000

[500 rows x 6 columns]

In [8]:
length_df

         1.0        2.5       5.0      10.0    Tree val     Naive
0   2.101828   1.498957  1.259517  1.177591   61.972947  1.258967
1   2.080014   1.394050  1.555499  3.332368    4.957987  1.166525
2   1.588627  22.984794  1.991801  1.407086    3.651723  1.178633
3   1.940358   1.274430  1.171616  1.215568   18.375717  1.175594
4   2.099173   1.447830  2.214922  1.226444    9.107409  1.148400
..       ...        ...       ...       ...         ...       ...
45  1.906959  18.934057  1.928816  1.222718   22.018867  1.282862
46  2.226842   4.162180  1.585557  1.405087  374.531061  1.164780
47  2.114453   1.253282  1.286865  1.194254    6.568403  1.173632
48  1.839150   1.340730  1.315674  1.190927    5.265956  1.155154
49  1.922826   2.572326  1.355446  1.467448    4.563839  1.061944

[500 rows x 6 columns]

In [9]:
MSE_df

         1.0       2.5       5.0      10.0  Tree val     Naive
0   4.754626  5.385438  6.062667  5.715567  4.774639  4.774639
1   5.007723  4.517161  5.284633  5.598432  4.747049  4.747049
2   5.004523  4.477550  4.936360  5.975434  4.853868  4.853868
3   6.023852  5.498041  6.179695  6.447653  5.547141  5.547141
4   3.863381  4.093041  4.473121  4.453665  4.162055  4.162055
..       ...       ...       ...       ...       ...       ...
45  4.504989  4.552447  4.692785  5.201841  4.976313  4.976313
46  4.621166  4.948239  6.182258  5.300265  5.266812  5.266812
47  4.717608  4.603610  5.317180  5.558006  4.680895  4.680895
48  3.957127  4.572552  3.898007  5.014722  3.773166  3.773166
49  4.821871  5.303083  5.674479  5.864454  5.560331  5.560331

[500 rows x 6 columns]

In [21]:
import matplotlib.pyplot as plt
import seaborn as sns

# Assuming your DataFrame is named df
metrics = ["Coverage Rate", "Length", "MSE"]

# Set up the figure and axes for subplots
fig, axes = plt.subplots(1, 3, figsize=(10, 6), sharey=False)

# Iterate over each metric and create a box plot
for i, metric in enumerate(metrics):
    sns.boxplot(x='SD(Y)', y=metric, hue='Method', data=oper_char_df, ax=axes[i])
    axes[i].set_title(f'Box Plot of {metric} by SD and Method')
    axes[i].set_xlabel('SD(Y)')
    axes[i].set_ylabel(metric if i == 0 else '')  # Only set ylabel on the first plot for clarity
    axes[i].legend(title='Method', loc='upper right')
    if metric == "Coverage Rate":
        axes[i].set_ylim(0,1)
        axes[i].axhline(y=0.9, linestyle='dotted', color='grey')
    elif metric == "Length":
        axes[i].set_ylim(0,100)
    elif metric == "MSE":
        axes[i].set_ylim(0,200)

# Adjust layout and display
plt.tight_layout()
plt.show()

In [24]:
# TODO: Case 1 with 1, 5, 10