In [9]:
import joblib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
n_task_per_file = 1
n_files = 10
base_dir = "toy_eg_"
files_list = []
for i in range(n_files):
    dir = base_dir + str(i*n_task_per_file) + "_"  + str((i+1)*n_task_per_file) + ".pkl"
    files_list.append(dir)

In [14]:
coverage_df = pd.DataFrame()
length_df = pd.DataFrame()
MSE_df = pd.DataFrame()

for f_dir in files_list:
    coverage_i, length_i, MSE_i = joblib.load(f_dir)
    coverage_df = pd.concat([coverage_df, pd.DataFrame(coverage_i)])
    length_df = pd.concat([length_df, pd.DataFrame(length_i)])
    MSE_df = pd.concat([MSE_df, pd.DataFrame(MSE_i)])

In [15]:
coverage_df

     0.5      1    2         4  Tree val  Naive
0  1.000  1.000  1.0  1.000000  1.000000    1.0
0  1.000  1.000  1.0  0.000000  0.857143    1.0
0  1.000  1.000  1.0  1.000000  1.000000    1.0
0  1.000  1.000  1.0  1.000000  1.000000    1.0
0  1.000  1.000  1.0  0.625000  1.000000    1.0
0  1.000  1.000  1.0  0.500000  1.000000    1.0
0  1.000  1.000  1.0  0.750000  1.000000    1.0
0  1.000  1.000  1.0  0.875000  1.000000    1.0
0  1.000  1.000  0.0  1.000000  0.714286    1.0
0  0.875  0.875  1.0  0.857143  0.857143    1.0

In [16]:
length_df

          0.5         1         2          4   Tree val     Naive
0    3.882121  3.868611  3.698944   3.856747   9.323875  2.969490
0    4.100261  4.053153  2.886294   9.748187  35.679457  2.641601
0    7.550168  6.868452  5.505902   5.776881  10.301341  2.747489
0    4.193626  4.106990  4.372931   3.756626   4.311033  2.713348
0    3.623448  3.956721  8.327254   4.473541   4.026364  2.545088
0    5.471195  4.202062  7.426554  10.135689   9.778916  2.922670
0  561.776212  3.980411  3.322490  34.076406   8.303972  2.836030
0    3.697557  4.999955  3.422815   3.824883   7.527026  2.793989
0    5.101411  4.017408  7.181287   3.292277  17.419418  2.804867
0    3.840789  5.838377  4.712252   3.919923  23.191316  2.825336

In [17]:
MSE_df

        0.5         1         2         4  Tree val     Naive
0  1.476998  1.394579  1.527654  1.383172  1.411155  1.411155
0  1.232420  1.334334  1.420147  1.293367  1.670304  1.670304
0  1.622761  1.616254  1.605236  1.513530  1.579990  1.579990
0  1.403274  1.331563  1.432673  1.297875  1.377786  1.377786
0  0.990692  1.147635  1.057596  1.155539  0.892236  0.892236
0  1.303342  1.498310  1.599830  1.563947  1.614076  1.614076
0  1.752421  1.702985  1.773980  1.723966  1.443153  1.443153
0  1.068633  1.165936  1.226417  1.120528  1.131828  1.131828
0  1.223312  1.267165  1.287002  1.275147  1.263200  1.263200
0  1.674736  1.671623  1.675048  1.714451  1.577431  1.577431